/* FONT FACE */
@font-face {
	font-family: "PatrickHand";
	font-style: normal;
	font-weight: 400;
	src: url(../../css/PatrickHand-Regular.ttf) format('truetype');
}

body{
	background:#bada55;
	font-family: "PatrickHand", Helvetica, Arial;
	background: none;
	margin: 0;
}
canvas{
	width:50px;
	margin: 5px;
}
#download{
	background: url(download_button.png);
	background-size: 100% 100%; 
	width: 400px;
    height: 100px;
    cursor: pointer;

    text-align: left;
    font-size: 33px;
    line-height: 100px;

    transition: top 0.2s ease-in-out;
    position: relative;
    top:0;
}
#download:hover{
	top:-5px;
}