/* FONT FACE */
@font-face {
	font-family: "PatrickHand";
	font-style: normal;
	font-weight: 400;
	src: url(../../css/PatrickHand-Regular.ttf) format('truetype');
}

body{
	/*background:#bada55;*/
	background: none;
	margin: 0;
}
canvas{
	width:150px;
	margin: 5px;
}
#download{
	width: 400px;
    height: 50px;
    cursor: pointer;
}