.fcard_center{
	max-width: 360px;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 1.1em;
}
.fcard_bg{
	position:absolute;
	/*width:100%;*/
	width:400px;
	height:100%;
	/*background:#ff4040;*/
	background: #ffffff;
}
.underline{
	letter-spacing: -0.1em;
}
.bonus_note{
	font-size: 30px;
    line-height: 30px;
    color: #999;
    display: block;
    margin-top: 10px;
}